* {
    margin: 0;
    padding: 0
}

body{
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

.developing{
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    p{
        font-size: 25px;
    }
}

.fa{
    font-size: 150px;
}

#grad1 {
    background-color: #f2f2f2;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: $colorTextInputs;
}

#msform label{
    color: black;
    font-size: 14px;
}

#msform select{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 21px;
    height: 50px;
    border-radius: 8px;
}

.custom-select{
    color: $colorTextInputs !important;
    option{
        color: black;
    }
}


#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    /* border: none; */
    border: solid 1px rgba(0, 0, 0, 0.20);
    /* border-bottom: 1px solid #ccc; */
    border-radius: 8px;
    margin-bottom: 25px;
    /* margin-top: 2px; */
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    /* font-family: montserrat; */
    color: $colorTextInputs;
    font-size: 16px;
    /* letter-spacing: 1px */
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    /* font-weight: bold; */
    /* border-bottom: 2px solid skyblue; */
    outline-width: 0;
}

.form-paragraph{
    color: #6c757d;
    font-size: 14px;
}

#msform .form{
            &__input{
                &--mariginButton{
                margin-bottom:12px ;
            }
        }    
}

#msform .action-button {
    /* width: 100px; */
    background: $colorPrimary   ;
    font-weight: bold;
    font-size: 24px;
    color: white;
    border: 0 none;
    border-radius: 8px;
    /* border-radius: 0px; */
    cursor: pointer;
    /* padding: 0 5px; */
    margin: 23px 0;
    &--width{
        width: 40%;
        margin-left: 20px;
    }
}

#msform .action-button:hover,
#msform .action-button:focus {
    /* box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue */
    background-color: $colorHover;
}

#msform .action-button-previous {
    /*   */
    background: #ffffff;
    font-weight: bold;
    font-size: 24px;
    color:$colorTextInputs;
    border: 1px solid $colorBorderInputs;
    border-radius: 8px;
    cursor: pointer;
    /* padding: 0   5px; */
    margin: 23px 0;
    width: 40%;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    /* box-shadow: 0 0 0 2px white, 0 0 0 3px #616161 */
    background-color: $colorSecundary;
}
.input-paragraph{
    margin-top: 10px;
}

.input-link{
    color: $colorPrimary;
    &:hover{
        color: $colorHover;
    }
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    /* border-bottom: 2px solid skyblue */
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    font-weight: bold;
    font-size: 14px;
    color: $colorPrimary;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 20%;
    float: left;
    position: relative
}

/* #progressbar #home:before {
    font-family: FontAwesome;
    content: "\f015"
} */

/* #progressbar #personalInfo:before {
    font-family: FontAwesome;
    content: "\f007"
} */

/* #progressbar #files:before {
    font-family: FontAwesome;
    content: "\f09d"
} */

/* #progressbar #commercial:before {
    font-family: FontAwesome;
    content: "\f00c"
} */

/* #progressbar #userInfo:before {
    font-family: FontAwesome;
    content: "\f00c"
} */

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgrey;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li i {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgrey;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgrey;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: $colorPrimary;
}

#progressbar li.active i,
#progressbar li.active i {
    background: $colorPrimary;
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}